{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
<style>
	img {
		margin-top: 1%;
		margin-left: 25%;
		margin-right: 25%;
		border-radius: 30px;
		width: 50%;
		border: 10px solid transparent;
		padding: 5px;
		border-image: url("{% static 'images/border.png' %}") 30 stretch;
    }
</style>

<img src = "{% url 'gisa:video_feed' %}" alt="original image" id = "my_image">

<div class = "slidecontainer">
    <div class="col-4">
        <label for="output_hue_lower" class="slider_label "> Hue lower: </label><br>
        <label for="output_saturation_lower" class="slider_label "> Saturation lower: </label><br>
        <label for="output_value_lower" class="slider_label "> Value lower: </label><br>
        <label for="output_hue_higher" class="slider_label "> Hue higher: </label><br>
        <label for="output_saturation_higher" class="slider_label "> Saturation higher: </label><br>
        <label for="output_value_higher" class="slider_label "> Value higher: </label><br>
    </div>

    <div class="col-8 ">
        <span id="output_hue_lower" class="slider_output"></span>
        <input type="range" min="0" max="255" value="0" class="slider" id="hue_lower"/> <br>


        <span id="output_saturation_lower" class="slider_output"></span>
        <input type="range" min="0" max="255" value="0" class="slider" id="saturation_lower"/> <br>


        <span id="output_value_lower" class="slider_output"></span>
        <input type="range" min="0" max="255" value="0" class="slider" id="value_lower"/> <br>
        

        <span id="output_hue_higher" class="slider_output"></span>
        <input type="range" min="0" max="255" value="255" class="slider" id="hue_higher"/> <br>


        <span id="output_saturation_higher" class="slider_output"></span>
        <input type="range" min="0" max="255" value="255" class="slider" id="saturation_higher"/> <br>


        <span id="output_value_higher" class="slider_output"></span>
        <input type="range" min="0" max="255" value="255" class="slider" id="value_higher"/> <br>
    </div>

</div>
<script type = "text/javascript" src = "/static/js/slider_value.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script type="text/javascript">
        $('.slider').on("input", function (e) {
            var hue_lower = document.getElementById("myRangeHl").value;
            var saturation_lower = document.getElementById('myRangeSl').value;
            var value_lower = document.getElementById('myRangeVl').value;
            var hue_higher = document.getElementById("myRangeHh").value;
            var saturation_higher = document.getElementById('myRangeSh').value;
            var value_higher = document.getElementById('myRangeVh').value;
            
            var data_out = {
            "H_l" : hue_lower,
            "S_l" : saturation_lower,
            "V_l" : value_lower,

            "H_h" : hue_higher,
            "S_h" : saturation_higher,
            "V_h" : value_higher
            }

            // console.log(data_out)

            $.ajax( {
                method : 'GET',
                url : '{% url "gisa:live_segment_temp" %}',
                data : data_out,
                datatype : 'json',
                success : function(data_out) {
                    console.log('Slider value sent success');
                    location.reload();
                },
                error : function() {
                    console.log("Error during ajax post");
                }
            });
        })
    </script> -->

{% endblock %}
