{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
<style>
	img {
		margin-top: 1%;
		margin-left: 25%;
		margin-right: 25%;
		border-radius: 30px;
		width: 50%;
		border: 10px solid transparent;
		padding: 5px;
		border-image: url("{% static 'images/border.png' %}") 30 stretch;
    }
</style>

<form method = "POST" enctype="multipart/form-data"> 
    {% csrf_token %} 
    {{ segment_form.as_p }} 
    <button type="submit">Start</button> 
</form> 

{% if submitbutton %}
    <img src = "{% url 'gisa:live_segment_temp' %}" alt="original image" id = "seg_image">
{% endif %}

<!-- {% if image_show.url %}
    <img src = "{{ image_show.url }}" alt = "segmented image" id = "seg_image">
{% endif %} -->

<div class = "slidecontainer">
    <label for="myRangeHl" >Hue(lower bound):<span id="hue_l_op"></span></label>
    <input type="range" min="0" max="255" value="0" class="slider" id="myRangeHl"><br><br>
    <label for="myRangeSl" >Saturation(lower bound): <span id="saturation_l_op"></span></label>
    <input type="range" min="0" max="255" value="0" class="slider" id="myRangeSl"><br><br>
    <label for="myRangeVl" >value(lower bound): <span id="value_l_op"></span></label>
    <input type="range" min="0" max="255" value="0" class="slider" id="myRangeVl"><br><br>
    <label for="myRangeHh">Hue(upper bound): <span id="hue_h_op"></span></label>
    <input type="range" min="0" max="255" value="255" class="slider" id="myRangeHh" ><br><br>
    <label for="myRangeSh" >Saturation(upper bound): <span id="saturation_h_op"></span></label>
    <input type="range" min="0" max="255" value="255" class="slider" id="myRangeSh"><br><br>
    <label for="myRangeVh" >Value(upper bound):<span id="value_h_op"></span></label>
    <input type="range" min="0" max="255" value="255" class="slider" id="myRangeVh"><br><br>
</div>
<!-- <script type = "text/javascript" src = "/static/js/slider_value.js"></script> -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">

    function refreshImage(imgElement,imgURL){       
    // create a new timestamp    
    var timestamp = new Date().getTime();        
    var el = document.getElementById(imgElement);      
    var queryString = "?t=" + timestamp;           
    el.src = imgURL + queryString;  
    }

    $('.slider').on("input", function(e) {
        var h_v_h = document.getElementById("myRangeHh").value;
        var s_v_h = document.getElementById('myRangeSh').value;
        var v_v_h = document.getElementById('myRangeVh').value;
        var h_v_l = document.getElementById("myRangeHl").value;
        var s_v_l = document.getElementById('myRangeSl').value;
        var v_v_l = document.getElementById('myRangeVl').value;

        console.log('Inside the function!')
        $.ajax( {
            method : 'GET',
            url : '{% url "gisa:live_segment_temp" %}',
            data: {
            'H_h' : h_v_h,
            'S_h' : s_v_h,
            'V_h' : v_v_h,
            'H_l' : h_v_l,
            'S_l' : s_v_l,
            'V_l' : v_v_l,
            },
            datatype: 'json',
            success: function(data){
                console.log('Success!! Data is sent perfectly!');
                console.log(data);
                refreshImage("seg_image",data);
            },
        });
    })
</script> 

{% endblock %}
