{% extends 'base.html' %}
<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>Welcome to GISA</title> 
</head> 
<body>
    {% block body_block %} 
    <form method = "post" enctype="multipart/form-data"> 
        {% csrf_token %} 
        {{ form.as_p }} 
        <button type="submit">Upload here</button> 
    </form> 
    {% if image_show %}
    <img src = "{{ image_show.uploads.url }}" alt="original image">
    <br>
    {% endif %}
    <form method = "POST">
        {% csrf_token %}
        {{ temp_form.as_p }}
        <input type = "submit" name="do_predict" value="Predict">
    </form>
    
    {% if prediction %}
    <!-- <img src = "{{ predicted_image.uploads.url }}" alt="original image"> -->
    <!-- <img src = "{{ predicted_image.uploads.url }}" alt="predicted image" style = "float:left">          commment this line -->
    <p>This is {{ prediction }} </p>
    {% endif %}
    {% endblock %}
    
</body> 
</html> 

